:root{
  --mainColor : #1d71be;
  --borderColor: #d6d6d6;
  --headerWeb: #ccc;
}

.sheets-container {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  margin-bottom: 15px;
  scrollbar-width: none;
}

table {
  margin-bottom: 40px;
  overflow: hidden;
  background-color: var(--borderColor);
}

thead {
  background-color: var(--mainColor);
  color: #fff;
}

th {
  padding-top: 5px;
  padding-bottom: 5px;
}

tbody {
  background-color: #fff;
}

th, tbody td {
  white-space: pre-wrap; 
  text-align: center;
  font-size: 15px;
  word-wrap: break-word;
  padding-top: 3px;
  padding-bottom: 3px;
}

.demo div {
  display: flex;
  flex-direction: column;
}

tfoot td {
  background-color: #fff;
}

.header-website {
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--borderColor);
}

.header-website a {
  color: #000;
  text-decoration: none;
  font-weight:bold;
}

.website {
  width: 80px;
}

.adsPosition {
  width: 150px;
}

.dimensions {
  width: 400px;
}

.platform {
  width: 80px;
}

.demo {
  width: 120px;
}

.col1 {
  width: 120px;
}

.col2 {
  width: 150px;
}

.col3 {
  width: 150px;
}

.col4 {
  width: 150px;
}

.col5 {
  width: 70px;
}

.website a , .linkdemo a {
  font-style: italic;
  text-decoration: underline;
  color: var(--mainColor);
  cursor: pointer;
}

