:root{
  --mainColor : #1d71be;
  --borderColor: #d6d6d6;
  --headerWeb: #ccc;
}

.sheets-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 300px;
  scrollbar-width: none;
}

table {
  margin-bottom: 40px;
  background-color: var(--borderColor);
}

thead {
  background-color: var(--mainColor);
  color: #fff;
}

th {
  padding-top: 5px;
  padding-bottom: 5px;
}

tbody {
  background-color: #fff;
}

th, tbody td {
  white-space: pre-wrap; 
  text-align: center;
  font-size: 15px;
  word-wrap: break-word;
  padding-top: 3px;
  padding-bottom: 3px;
}

.demo div {
  display: flex;
  flex-direction: column;
}

tfoot td {
  background-color: #fff;
}

.header-website {
  cursor: pointer;
  background-color: var(--borderColor);
}

.header-website th {
  white-space: normal;
}

.header-website a {
  display: block;
  color: #000;
  text-decoration: none;
  font-weight:bold;
  position: relative;
  height: 30px;
  line-height: 30px;
}

.tooltip {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 5px #b9b9b9;
  width: 400px;
  transform: translate(-1200px, 40px);
  padding: 5px;
  overflow: hidden;
  right: -100px;
  top: -8px;
}

.tooltip img {
  width: 400px;
  height: 240px;
  object-fit: cover; 
}

.tooltip span {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;  
  line-height: 100%;
  text-align: start;
  color: #747474;
  white-space: normal;
  margin-top: 5px;
  padding: 5px 0;
  width: calc(100% - 10px);
  border-top: 1px solid var(--borderColor);
}

.website {
  width: 80px;
}

.adsPosition {
  width: 150px;
}

.dimensions {
  width: 400px;
}

.platform {
  width: 80px;
}

.demo {
  width: 120px;
}

.col1 {
  width: 120px;
}

.col2 {
  width: 150px;
}

.col3 {
  width: 150px;
}

.col4 {
  width: 150px;
}

.col5 {
  width: 70px;
}

.website a , .linkdemo a {
  font-style: italic;
  text-decoration: underline;
  color: var(--mainColor);
  cursor: pointer;
}

