<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Quản lí các website</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/admin/style.css">
    <link rel="stylesheet" href="css/admin/websiteList.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="header-container">
        <div class="logo-web">
            <img src="image/logo.png" alt="" srcset="">
        </div>
        <div class="nav-container">
            <a href="/price-list">Bảng giá</a>
            <a href="/website-list" class="active">Website</a>
            <a href="/#">#</a>
        </div>
        <div class="add-new-table" title="Thêm website mới"><i class="fa-solid fa-file-circle-plus"></i></div>
        <div class="search">
            <form action="" id="search_form">
                <input type="text">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    </div>
    <div class="sheets-container">
        <table>
            <thead></thead>
            <tbody></tbody>
            <tfoot></tfoot>
        </table>
    </div>
    <button class="to-top-btn"><i class="fa-solid fa-chevron-up"></i></button>
    <div class="window"></div>
    <div id="notification" class="notification">
        <span id="notificationText"></span>
    </div>
</body>
<script src="js/admin/websiteList.js"></script>
</html>