:root{
    --mainColor : #296c96;
    --borderColor: #d6d6d6;
    --headerWeb: #ccc;
}

.add-new-account {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 10px;
    font-size: 25px;
    color: var(--mainColor);
    cursor: pointer;
    user-select: none;
    transition: font-size 0.1s ease;
}

.add-new-account:hover {
  font-size: 25.5px;
}

.add-new-account:active {
  font-size: 25px;
}

table {
  background-color: var(--borderColor);
}

thead th {
  height: 30px;
  background-color: var(--mainColor);
  color: #fff;
}

tbody {
  background-color: #fff;
}

tfoot td {
  background-color: #fff;
}

td {
  height: 40px;
}

tr:hover {
  background-color: #f9f9f9;
}

table .id {
  width: 50px;
  text-align: center;
}

table .fullname {
  padding-left: 10px;
  width: 270px;
}

table .user-name {
  padding-left: 10px;
  width: 500px;
}

table .role {
  width: 100px;
  text-align: center;
}

table .action {
  width: 80px;
  text-align: center;
}

.Xbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  font-size: 15px;
  padding: 0;
  cursor: pointer;
  border: 0;
  background-color: #296c96;
  color: #fff;
}

.Xbutton:hover {
  background-color: #f04d4d;
}