:root{
  --mainColor : #296c96;
  --borderColor: #d6d6d6;
  --headerWeb: #ccc;
}

table {
  margin-bottom: 40px;
  overflow: hidden;
  background-color: var(--borderColor);
}

thead {
  background-color: var(--mainColor);
  color: #fff;
}

tbody {
  background-color: #fff;
}

th, tbody td {
  text-align: center;
  font-size: 14px;
  word-wrap: break-word;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: pre;
}

.demo div {
  display: flex;
  flex-direction: column;
}

tbody .row-table:hover {
  background-color: #f9f9f9;
}

tfoot td {
  background-color: #fff;
}

.header-website {
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--borderColor);
}

.header-website a {
  padding-top: 3px;
  color: #000;
  text-decoration: none;
  font-weight:bold;
}

.header-website .add-row {
  border: 0;
  background-color: var(--borderColor);
  font-size: 13px;
  cursor: pointer;
}

.website {
  width: 80px;
}

.adsPosition {
  width: 150px;
}

.dimensions {
  width: 400px;
}

.platform {
  width: 80px;
}

.demo {
  width: 120px;
}

.col1 {
  width: 120px;
}

.col2 {
  width: 150px;
}

.col3 {
  width: 150px;
}

.col4 {
  width: 150px;
}

.col5 {
  width: 70px;
}

.action {
  width: 80px;
}

.action-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20px;
}

.action-container button {
  margin: 3px;
  border: 0;
  background-color: #fff;
  cursor: pointer;
  font-size: 15px;
  transition: font-size 0.4s ease;
}

.action-container button:hover {
  font-size: 17px;
  opacity: 0.8;
}

.action-container .update-btn {
  color: #c7d017;
}

.action-container .delete-btn {
  color: #eb0f0f;
}

.website a , .linkdemo a {
  font-style: italic;
  text-decoration: underline;
  color: var(--mainColor);
  cursor: pointer;
}

.window > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 900px;
  position: relative;
}

.window > * > * {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.window > * > *  > * {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.window-child-left, .window-child-right {
  width: calc(50% - 10px);
}

textarea,
#col5 {
  width: 900px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  border-radius: 8px;
  resize: none;
  border: 1px solid #8d8d8d;
}

.window select, .window input {
  height: 30px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #8d8d8d;
  padding-left: 5px;
}

.window-child-left {
  margin-right: 10px;
}

.window label {
  margin-top: 5px;
  margin-left: 5px;
}

.window h3 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.demo-container {
  margin-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid #ffffff;
  border-radius: 8px;
}



.demo-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.demo-container .content, .demo-container .link-demo {
  font-size: 17px;
  height: 24px;
  border-radius: 5px;
}

.demo-container .content {
  width: 260px;
  margin-right: 5px;
}

.demo-container .link-demo {
  width: 590px;
  margin-left: 5px;
}

.demo-container .remove-demo {
  position: fixed;
  right: 32px;
  background-color: #fff;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}

.demo-container .add-demo {
  border: 0;
  background-color: #296c96;
  color: #fff;
  width: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.save, .save-new-website, .save-update-row, .save-new-table {
  width: 120px;
  margin-top: 8px;
  margin-left: 780px;
  padding-top: 3px;
  border: 0;
  border-radius: 12px;
  font-size: 18px;
  background-color: #296c96;
  color: #fff;
  cursor: pointer;
}

.save:hover, .save-new-website:hover, .save-update-row:hover, .save-new-table:hover {
  background-color: #4188b4;
}

.add-row-new-website {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 10px;
  font-size: 25px;
  color: #0cc53a;
  cursor: pointer;
  user-select: none;
  transition: font-size 0.1s ease;
}

.add-row-new-website:hover {
  font-size: 25.5px;
}

.add-row-new-website:active {
  font-size: 25px;
}

.select-table-to-add {
  justify-content: left;
}

.select-table-to-add span {
  width: 80px;
}

.select-table-to-add h3 {
  position: fixed;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
}

#select_table_to_add {
  width: 80px;
  height: 22px;
  font-size: 15px;
  text-align: center;
  justify-content: center;
}

@keyframes outstanding_green {
  0% {
    background-color: rgb(193, 245, 188);
  }
  25% {
    background-color: rgb(220, 243, 218);
  }
  50% {
    background-color: rgb(243, 243, 243);
  }
  75% {
    background-color: rgb(220, 243, 218);
  }
  100% {
    background-color: rgb(193, 245, 188);
  }
}

.highlight-green {
  animation: outstanding_green 2s infinite;
}

@keyframes outstanding_yellow {
  0% {
    background-color: rgb(249, 250, 219);
  }
  25% {
    background-color: rgb(254, 255, 182);
  }
  50% {
    background-color: rgb(255, 255, 255);
  }
  75% {
    background-color: rgb(254, 255, 182);
  }
  100% {
    background-color: rgb(254, 255, 182);
  }
}

.highlight-yellow {
  animation: outstanding_yellow 2s infinite;
}



.input-data-col-container {
  margin-top: 35px;
  border: 1px solid #fff;
  border-radius: 13px;
  padding: 10px;
}

.input-data-col-container:hover {
  background-color: #3f89b6;
}

.input-data-col-container > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.input-content-column {
  width: 600px;
}

.input-data-type {
  width: 300px;
}



.Xbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  font-size: 15px;
  padding: 0;
  cursor: pointer;
  border: 0;
  background-color: #296c96;
  color: #fff;
}

.Xbutton:hover {
  background-color: #f04d4d;
}