:root{
    --mainColor : #296c96;
    --borderColor: #d6d6d6;
    --headerWeb: #ccc;
  }

.nav-container {
    display: flex;
    height: 100%;
    margin-left: 10px;
}
  
.nav-container a {
    display: flex;
    position: relative;
    justify-content: center;
    line-height: 50px;
    width: 80px;
    height: 100%;
    text-decoration: none;
    color: var(--mainColor);
}

.nav-container > a::before {
    content: "";
    height: 2px;
    width: 0;
    background: var(--mainColor);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
  
.nav-container > a:hover::before {
    width: 100%;
}
  
.nav-container .active {
    font-weight: bold !important;
}

@keyframes outstanding_green {
    0% {
      background-color: rgb(193, 245, 188);
    }
    25% {
      background-color: rgb(220, 243, 218);
    }
    50% {
      background-color: rgb(243, 243, 243);
    }
    75% {
      background-color: rgb(220, 243, 218);
    }
    100% {
      background-color: rgb(193, 245, 188);
    }
}
  
.highlight-green {
    animation: outstanding_green 2s infinite !important;
}
  
@keyframes outstanding_yellow {
    0% {
        background-color: rgb(249, 250, 219);
    }
    25% {
        background-color: rgb(254, 255, 182);
    }
    50% {
        background-color: rgb(255, 255, 255);
    }
    75% {
        background-color: rgb(254, 255, 182);
    }
    100% {
        background-color: rgb(254, 255, 182);
    }
}
  
.highlight-yellow {
animation: outstanding_yellow 2s infinite !important;
}

.warning-border {
border: 1px solid rgb(255, 32, 32) !important;
}

.action-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20px;
  padding: 0 15px;
  }
  
  .action-container button {
  margin: 3px;
  border: 0;
  background-color: #fff;
  cursor: pointer;
  font-size: 15px;
  transition: font-size 0.4s ease;
  }
  
  .action-container button:hover {
  font-size: 17px;
  opacity: 0.8;
  }
  
  .action-container .update-btn {
  color: #c7d017;
  }
  
  .action-container .delete-btn {
  color: #eb0f0f;
  }
  
  

  