:root{
    --mainColor : #296c96;
    --borderColor: #d6d6d6;
    --headerWeb: #ccc;
  }

.nav-container {
    display: flex;
    height: 100%;
    margin-left: 10px;
}
  
.nav-container a {
    display: flex;
    justify-content: center;
    line-height: 50px;
    width: 80px;
    height: 100%;
    text-decoration: none;
    color: var(--mainColor);
}
  
.nav-container a:hover {
    background-color: var(--mainColor);
    color: #fcfcfc;
}
  
.nav-container .active {
    background-color: var(--mainColor);
    color: #fff;
}

  