:root{
    --mainColor : #296c96;
    --borderColor: #d6d6d6;
    --headerWeb: #ccc;
}

.add-new-website {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 10px;
    font-size: 25px;
    color: var(--mainColor);
    cursor: pointer;
    user-select: none;
    transition: font-size 0.1s ease;
}
  
.add-new-website:hover {
    font-size: 25.5px;
}
  
.add-new-website:active {
    font-size: 25x;
}

table {
    background-color: var(--borderColor);
    margin-bottom: 400px;
}

thead th {
    height: 30px;
    background-color: var(--mainColor);
    color: #fff;
}

tbody {
    background-color: #fff;
}

td {
    height: 40px;
}

tr:hover {
    background-color: #f9f9f9;
}

table .id {
    width: 50px;
    text-align: center;
}

table .name {
    padding-left: 10px;
    width: 270px;
}

table .url {
    padding-left: 10px;
    width: 370px;
}

table .url a {
    color: var(--mainColor);
    text-decoration: none;
}

table .description {
    padding-left: 10px;
    width: 500px;
}

table .action {
    width: 80px;
    text-align: center;
}

.tooltip {
    display: none;
    position: absolute;
}

.tooltip div {
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
    width: 400px;
    transform: translate(-1200px, 40px);
    padding: 5px;
    overflow: hidden;
}

.tooltip div img {
    width: 400px;
    height: 240px;
    object-fit: cover; 
}

.tooltip div span {
    display: block;
    margin-top: 5px;
    padding: 0 5px;
    width: calc(100% - 10px);
    border-top: 1px solid var(--borderColor);
}

.update-container {
    display: flex;
    margin-bottom: 15px;
}

.update-body, .view-tooltip {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 5px;
    border-radius: 5px;
}  

.update-body {
    padding-bottom: 0;
}

.update-body label {
    margin-top: 5px;
    margin-left: 10px;
}

.update-body input, .update-body textarea, .update-body select {
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 5px;
    resize: none;
    border: 1px solid var(--borderColor);
    padding-left: 10px;
    padding-right: 10px;
    height: 34px;
}

.update-body textarea {
    height: 150px;
}

.vertical-line {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    border-left: 2px solid var(--borderColor) ;
    width: 2px;
    z-index: 90;
}

.view-tooltip {
    background-color: #fff;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 28px;
}

.view-tooltip label {
    color: #000;
    cursor: pointer;
}

.view-tooltip .image {
    position: relative;
    display: inline-block;
    height: 240px;
    padding: 5px;
    border-bottom: 1px solid var(--borderColor);
}

.change-img {
    position: absolute;
    background-color: rgba(214, 214, 214, 0.6);
    bottom: 5px;
    right: 5px;
    padding: 5px;
    border-radius: 3px;
}

.view-tooltip .image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.view-tooltip .image #input_image {
    display: none;
}

.view-description {
    width: 100%;
    display: inline-block;
    word-wrap: break-word;
    box-sizing: border-box;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    color: #919191;
}

.save, .save-new-website, .save-update-row, .save-new-row {
    width: 120px;
    margin-top: 8px;
    margin-left: 730px;
    padding-top: 3px;
    border: 0;
    border-radius: 12px;
    font-size: 18px;
    background-color: #296c96;
    color: #fff;
    cursor: pointer;
}

.save:hover, .save-new-website:hover, .save-update-row:hover, .save-new-table:hover {
    background-color: #4188b4;
}

hr {
    color: #000;
}

.option_label > span {
    position: relative;
}

.tooltip-infor-option {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 100%;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 5px #ccc;
    margin: 0;
    padding: 10px;
    width: 550px;
    z-index: 9999;
    list-style: none;
}

.tooltip-infor-option li {
    border-bottom: 1px solid var(--borderColor);
    padding: 10px 0;
}

.option_label > span:hover .tooltip-infor-option {
    display: block;
}

.Xbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    font-size: 15px;
    padding: 0;
    cursor: pointer;
    border: 0;
    background-color: #296c96;
    color: #fff;
}

.Xbutton:hover {
    background-color: #f04d4d;
}