<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title><script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="search">
        <form action="" id="search_form">
            <input type="text" placeholder="Website">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
    <div class="table-container">
        <div class="thead">
            <div class="tr">
                <div class="th no">STT</div>
                <div class="th web" style="color: #fff; text-decoration: none; font-style: normal;">Website</div>
                <div class="th adsPosition">Tên vị trí</div>
                <div class="th dimensions">Kích thước (px)</div>
                <div class="th platform">Nền tảng</div>
                <div class="th demo" style="color: #fff; text-decoration: none; font-style: normal;">Demo</div>
                <div class="th buyingMethod">Cách tính giá</div>
                <div class="th note">Note</div>
            </div>
        </div>
        <div class="tbody">
        </div>
        <div class="add"><i class="fa-solid fa-plus"></i></div>
    </div>
    <div class="getDetail">
    </div>

</body>
<script src="js/admin.js"></script>
</html>