<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="table-container">
        <div class="thead">
            <div class="tr">
                <div class="th no">STT</div>
                <div class="th web" style="color: #fff; text-decoration: none; font-style: normal;">Website</div>
                <div class="th adsPosition">Tên vị trí</div>
                <div class="th dimensions">Kích thước (px)</div>
                <div class="th platform">Nền tảng</div>
                <div class="th demo" style="color: #fff; text-decoration: none; font-style: normal;">Demo</div>
                <div class="th buyingMethod">Cách tính giá</div>
                <div class="th price">Đơn giá</div>
                <div class="th performance">Hiệu suất</div>
                <div class="th note">Note</div>
            </div>
        </div>
        <div class="tbody">

        </div>
        
    </div>

</body>
<script>
    function windowOpen(link) {
        if (link) {
            window.open(link, '_blank')
        } else {
            alert('There are no demos yet!')
        }
    }
</script>
</html>